body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: #fff;
  text-align: center;
  height: 100%; /* Consider using min-height for full viewport height */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
}

.navbar-brand img {
  height: 50px;
  width: auto;
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.hero {
  padding: 50px 20px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/background.png') no-repeat center center;
  background-size: cover;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.feature-item {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  width: 80%; /* Use relative width */
  max-width: 600px; /* Set maximum width to ensure readability */
  border-radius: 10px;
  text-align: center;
}

.feature-item img {
  width: 100px; /* Ensure images are responsive */
  height: auto;
  margin-bottom: 20px;
}

.feature-item p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e82127;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
}

footer {
  padding: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 100%;
  position: fixed; /* Consider changing to 'static' if the footer should scroll with content */
  bottom: 0;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .feature-item, .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .navbar-nav li {
    margin-bottom: 10px; /* Add space between menu items */
  }

  .hero h1, .hero p {
    font-size: smaller; /* Adjust font size for smaller screens */
  }
}
